<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

{% if page.plotly %}
<script type="text/javascript" async
src="{{site.baseurl | append: "/assets/js/plotly-latest.min.js"}}">
</script>
{% endif %}

{% for js in page.jsarr %}
<script type="text/javascript">
{% include {{js}} %}
</script>
{% endfor %}
<!-- end custom head snippets -->
