{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | relative_url }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% if post.read_time %}
      <p class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if post.ispublication %}
    <div class="row">
        <div class="col-md-7">
            <a href="http://people.csail.mit.edu/baxelrod/#">
                <img class="img-responsive" src="{{site.baseurl | append: post.imagelocation}}" alt="" style="height:200px">
            </a>
        </div>
        <div class="col-md-5">
            <h4>{{post.venue}}</h4>
            <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
            <a class="btn btn-primary" href="{{site.baseurl | append: post.pdflocation}}">View PDF<span class="glyphicon glyphicon-chevron-right"></span></a>
            <!--<a class="btn btn-primary" href="http://people.csail.mit.edu/baxelrod/papers/UncertainFunnels.pdf">View PDF<span class="glyphicon glyphicon-chevron-right"></span></a>-->
        </div>
    </div>
    <hr>
    {% elsif post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
  </article>
</div>
