---
layout: archive
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_publications | default: "Recent Publications" }}</h3>

| test table | ga
| --- | ---
| entry | whoot

| Title | Link |
|---|---|
{% for post in site.posts %}
|{{ post.title }}  |[Click Here]({{ post.url }})  |{% endif %}
{% endfor %}

{% for post in site.posts %}
  {% if post.ispublication %}
    {% include archive-single.html %}
  {% endif %}

{% endfor %}


<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% if post.ispublication%}
  {% else %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %} -->


{% include paginator.html %}
